.commandBtn,
.commandBtn:hover{
height: 30px;
color: #FFFFFF;
font-weight: bold;
font-size: 11px;
cursor: pointer;
}
.commandBtn{
background-color: #4D90FE;
border: 1px solid #3079ED;
}
.commandBtn:hover{
background-color: #357AE8;
border: 1px solid #2F5BB7;
}
.errorLbl {
	color: firebrick;
	margin-left: 5px;
}